.mat-form-field
  {
    width: 100% !important;
  }

.login-toolbar
  {justify-content: center}
.mat-toolbar.mat-primary
  {background: tomato;
  color: white;
  font-family: Poiret One, cursive; 
  font-weight: bold;
  font-size: medium;}
.mat-raised-button
  {min-width: 40%}
.label-css
  {color: turquoise;
  font-family: Poiret One, cursive;
  font-weight: bold;
  font-size: medium;}
mat-radio-button
  {color: rgba(0,0,0,.6) !important;
  font-size: small}
mat-divider
  {border-top-color: lightseagreen !important;}